/* GLOBAL */
body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Optional Dark Mode */
.dark {
    background-color: #333; /* #333 */
    color: white;
}
.dark header.title h2 {
    color: rgb(160, 212, 237); /* Here are some colors I could use (71c7ff) rgb(160, 212, 237) */
}

/* Content Div */
#content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */
header.title {
    margin-bottom: 20px;
}

header.title h1 {
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom:-3.5px;
}

header.title h2 {
    font-size: 0.9em;
    color: #006EB6;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

/* MAIN */
main {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 30px;
}

main p {
    margin-bottom: 15px;
}

.does-list {
    list-style-type: decimal;
    padding-left: 40px;
}

.does-list li {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    margin-top: 30px;
}

footer img {
    width: 150px;
}
