/* ROOT */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Faustina:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*Title: DM Serif Text */
/* Subtext: Tinos */
/* Body: Faustina */
:root {
    --accent-color1: #134074;
    --accent-color2: #13315C;
    --primary-color: #0B2545;
    --secondary-color: #8DA9C4;
    --white-color: #EEF4ED;
  }

  /* GLOBAL */
* {
  margin: 0;
}  
h1 {
  font-family: "DM Serif Text";
}
h2 {
  font-family: "Tinos";
}
p {
  font-family: "Faustina";
}
body {
  background-color: white;
}

/* --=== HEADER ============================================================================================= */
header {
  background-color: var(--accent-color1);
  display: flex;
  justify-content: space-between; /* this pushes items to opposite sides */
  align-items: center;
}
#title-card {
  padding: 20px;
  text-align: left;
  display: flex;
}
header h1 {
  padding-left: 30px;
  font-size: 45px;
  color: white;
}
header p {
  font-size: 45px;
  padding-left: 15px;
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 20px;
}
nav ul li a {
  font-family: "Tinos";
  text-decoration: none;
  padding: 20px;
  color: white;
  font-size: 30px;
}
nav ul li a:hover {
  filter: brightness(60%);
  transition: 0.3s ease-in-out;
}

/* --=== HERO IMAGE ============================================================================================= */
.home-image-container {
  background-color: var(--secondary-color);
  padding-bottom: 100px;
}
.home-image-container img {
  width: 800px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-image-container h2 {
  padding: 10px;
  background-color: #134074;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 45px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: -60px;
}
/* --=== IMAGE CAROUSEL ============================================================================================= */

.carousel {
  margin: 0 auto;
  height: 550px;
  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: block;
  object-fit: cover;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white-color);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: var(--accent-color1);
}
.carousel-button:hover,
.carousel-button:focus {
  color: var(--accent-color2);
  background-color: white;
}
.carousel-button:focus {
  outline: 1px solid black;
}
.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

/* --=== ABOUT ME ============================================================================================= */
#aboutme section {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-bottom: 30px;
}
#aboutme h2 {
  padding: 10px;
  background-color: #134074;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 55px;
  width: 700px;
  margin: 30px auto;
}
#aboutme img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}
#aboutme p {
  padding: 10px;
  background-color: #134074;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 23px;
  width: 600px;
}

/* --=== FOOTER ============================================================================================= */
footer {
  background-color: var(--accent-color1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 120px;
}
.social-links {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-links a {
  margin-right: 50px;
  text-decoration: none;
}
.social-links img:hover {
  filter: brightness(80%);
  transition: 0.3s ease-in-out;
}
footer p {
  padding: 5px;
  text-align: left;
  color: white;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 5px;
}

/* --=== MOBILE STYLES ============================================================================================= */
@media (max-width: 1200px) {
  /* HEADER */
  header {
    flex-direction: column;
    padding: 10px 0; 
    text-align: center; 
  }

  #title-card {
    padding: 10px;
    justify-content: center;
  }

  #title-card p {
    padding-left: 8px;
  }

  header h1 {
    font-size: 30px;
    padding-left: 0;
  }

  header p {
    font-size: 30px;
    padding-left: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center; 
    padding: 10px 0;
  }

  nav ul li a {
    font-size: 18px;
    padding: 10px 0;
  }
}
@media (max-width: 1000px) {
  /* HERO & CAROUSEL SECTION */
  .carousel {
    height: 340px;
  }
  .home-image-container {
    padding-bottom: 20px;
  }
  .home-image-container h2 {
    font-size: 20px;
    width: 60%;
    margin-bottom: 0px;
  }
  .home-image-container img {
    width: 480px;
  }

  /* ABOUT ME SECTION */
  #aboutme section {
    flex-direction: column;
    align-items: center;
  }

  #aboutme h2 {
    font-size: 30px;
    width: 80%;
  }

  #aboutme img {
    width: 80%;
    max-width: 300px;
  }

  #aboutme p {
    font-size: 15px;
    width: 300px;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px 0;
  }

  .social-links {
    padding: 10px 0;
  }

  footer p {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}