/* ROOT */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Faustina:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*Title: DM Serif Text */
/* Subtext: Tinos */
/* Body: Faustina */
:root {
    --accent-color1: #134074;
    --accent-color2: #13315C;
    --primary-color: #0B2545;
    --secondary-color: #8DA9C4;
    --white-color: #EEF4ED;
  }

  /* GLOBAL */
* {
  margin: 0;
}  
h1 {
  font-family: "DM Serif Text";
}
h2 {
  font-family: "Tinos";
}
p {
  font-family: "Faustina";
}

/* HEADER */
header {
  background-color: var(--accent-color1);
  display: flex;
  justify-content: space-between; /* Pushes items to opposite sides */
  align-items: center;
}
#title-card {
  padding: 20px;
  text-align: left;
  display: flex;
}
header h1 {
  padding-left: 30px;
  font-size: 45px;
  color: white;
}
header p {
  font-size: 45px;
  padding-left: 15px;
  color: white;
}
nav ul {
  display: flex; /* Makes nav items align horizontally */
  list-style: none;
  padding: 20px;
}
nav ul li a {
  font-family: "Tinos";
  text-decoration: none;
  padding: 20px;
  color: white;
  font-size: 30px;
}
nav ul li a:hover {
  filter: brightness(60%);
  transition: 0.3s ease-in-out;
}

/* HOME GRID */
.home-image-container img {
  width: 800px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-image-container h2 {
  padding: 10px;
  background-color: #134074;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 55px;
  width: 700px;
  margin: 30px auto;
}

/* ABOUT ME */
#aboutme section {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-bottom: 30px;
}
#aboutme h2 {
  padding: 10px;
  background-color: #134074;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 55px;
  width: 700px;
  margin: 30px auto;
}
#aboutme img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
#aboutme p {
  padding: 10px;
  background-color: #134074;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 27px;
  width: 600px;
}

/* FOOTER */
footer {
  background-color: var(--accent-color1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 120px;
}
.social-links {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-links a {
  margin-right: 50px;
  text-decoration: none;
}
.social-links img:hover {
  filter: brightness(80%);
  transition: 0.3s ease-in-out;
}
footer p {
  padding: 5px;
  text-align: left;
  color: white;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 5px;
}

/* Mobile Styles */
@media (max-width: 1200px) {
  /* HEADER */
  header {
    flex-direction: column;
    padding: 10px 0; 
    text-align: center; 
  }

  #title-card {
    padding: 10px;
    justify-content: center;
  }

  header h1 {
    font-size: 30px;
    padding-left: 0;
  }

  header p {
    font-size: 30px;
    padding-left: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center; 
    padding: 10px 0;
  }

  nav ul li a {
    font-size: 18px;
    padding: 10px 0;
  }
}
@media (max-width: 1000px) {
  /* HERO SECTION */
  .home-image-container h2 {
    font-size: 30px;
    width: 80%;
  }
  .home-image-container img {
    width: 400px;
  }

  /* ABOUT ME SECTION */
  #aboutme section {
    flex-direction: column;
    align-items: center;
  }

  #aboutme h2 {
    font-size: 30px;
    width: 80%;
  }

  #aboutme img {
    width: 80%;
    max-width: 300px;
  }

  #aboutme p {
    font-size: 15px;
    width: 300px;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px 0;
  }

  .social-links {
    padding: 10px 0;
  }

  footer p {
    font-size: 14px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}